.fa{
    color: black;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.login-img{
    width: 160px;
    height:160px;
    font-size: 100px;
    border: 3px solid #28a745!important;
    border-radius: 100px;
    margin: 10px;
    color: #33c702;
}