/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/10/2018, 04:29:44 AM
    Author     : dams_
*/

.form-group > div {
    padding-top: 10px;
    margin-top: 10px;
}

.form-group > button{
    margin-top: 10px;
    margin-right: 1%;
    width: 20%;
}

#btn-crear{
    background-color: #498467;
}

#btn-cancelar{
    background-color: #4C4C4C;
}
