body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    overflow-x: hidden;
}
.footer{
    max-height:  100px;
    flex: 0 0 120px;/*or just height:50px;*/
    margin-top: auto;
    width: 100%;
    color: white;
}

.footer-datos{
    background-color:#c2b856;
    height: 100%;
    position: relative;
}

.footer>ul{
    list-style-type: none;
    text-align: left;
}

