/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/10/2018, 06:41:10 PM
    Author     : dams_
*/

.container{
    width: 100%;
}

.confirmarRes{
    background-color: #1E3231;
    position: fixed;
    right: 0px;
    color: white;
    height: 75px;
}


.continua-agregando{
    background-color: #1E3231;
    position: fixed;
    left: 0px;
    color: white;
    height: 75px;
}

.panelGrid{
    width:100%;
    background-color: #92C3CE;
    font-size: 12px;
    margin-bottom: 10px;
    table-layout: fixed;
}

.info{
    font-weight: bold;
}

.info-tag{
    font-weight: normal;
}
.btnreservar{
    background-color: #0D324D;
    color: white
}

.confirmar-prestamo{
    background-color: #6B0F1A;
    color: white;
    position: fixed;
    right: 0px;
    height: 75px;
}

.nuervo-prestamo{
    background-color: #073B3A;
    color: white;
    height: 50px;
}

.imgMaterial{
    display: block;
    margin: 0px auto;
}

.texto-descripcion{
    font-size: 10px;
}

.ui-growl{
    background-color: #56282D;
    color: white;
}

.columna-imagen{
    width: 100px;
}

.material-info{
    width: 100%;
}

.btnAgregar{
    width: 10%;
}

.btnQuitar{
    width: 10%;
}

.panelGrid>tbody>tr{
    border-style: solid;
    border-width: 5px;
    border-radius: 30px;
}